h1, h2, h3, h4, a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .p3 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .p2 {
        display: none;
    }
    .p3 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .p2 {
        display: none;
    }
    .p3 {
        display: none;
    }
    .p4 {
        display: none;
    }
    .p5 {
        max-width: 50px;
    }
}