RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !^/css
RewriteCond %{REQUEST_FILENAME} !^/js
RewriteCond %{REQUEST_FILENAME} !^/img
RewriteCond %{REQUEST_FILENAME} !^/phpmyadmin
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]