.property-table, .allPropertiesTable {
    width: 100%;
    background-color: rgb(240,240,242);
    color: black;
}
.property-table .notaknopf{
    border: 0;
    margin: 0;
    padding: 2px;
}
.property-table td, .property-table th {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}
.property-table th {
    text-align: left;
    padding: 5px;
}
.property-table td {
    height: 20px;
}
.property-table a:hover {
    text-decoration-line: underline;
}
.property-table .lang {
    width: 50px;
}
.property-table .i-header {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.property-table  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
.property-table  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
@media screen and (max-width: 1000px) {
    .property-table .p3 {
        display: none;
    }
    .property-table td, .property-table th {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 600px) {
    .property-table .p2 {
        display: none;
    }
    .property-table .p3 {
        display: none;
    }
    .property-table td, .property-table th {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 500px) {
    .property-table .p2 {
        display: none;
    }
    .property-table .p3 {
        display: none;
    }
    .property-table .p4 {
        display: none;
    }
    .property-table .p5 {
        max-width: 50px;
    }
    .property-table td, .property-table th {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}