.property-table{
    max-width: 100%;
    background-color: rgb(240,240,242);
    color: black;
}
.allPropertiesTable {
    width: 100%;
    background-color: rgb(240,240,242);
    color: black;
}
#serchinputadresse{
    width: 60vh; 
    min-width: 150px; 
    max-width: 30vh; 
    margin-bottom: 5px; 
    height: 5vh; 
    min-height: 25px;
}
#serchinputcountry{
    width: 60vh; 
    min-width: 150px; 
    max-width: 30vh; 
    margin-bottom: 5px; 
    height: 5vh; 
    min-height: 25px;
}
.property-table .notaknopf{
    border: 0;
    margin: 0;
    padding: 2px;
}
.property-table .hidden{
    display: none;
}
.property-table td, .property-table th {
    padding-left: 5px;
}
.property-table th {
    text-align: left;
    padding: 5px;
}
.property-table td {
    height: 20px;
}
.property-table a:hover {
    text-decoration-line: underline;
}
.property-table .lang {
    width: 50px;
}
.property-table .i-header {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.property-table  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.property-table  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.p1 .lang {
    width: 65%;
}
.p2 {
    width: 15%; 
}
.p3 {
    width: 10%;
}
.p4 {
    width: 20%;
}
.p5 {
    width: 10%;
}

@media screen and (max-width: 1000px) {
    .property-table .p3 {
        display: none;
    }

    .p1 .lang {
        width: 60%;
    }
    .p2 {
        width: 15%; 
    }
    .p4 {
        width: 30%;
    }
    .p5 {
        width: 15%;
    }

    .property-table td, .property-table th {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 650px) {
    .p1 .lang {
        width: 50%;
    }
    .p2 {
        width: 15%; 
    }
    .p4 {
        width: 35%;
    }
    .p5 {
        width: 20%;
    }
}
@media screen and (max-width: 600px) {
    .property-table .p2 {
        display: none;
    }
    .property-table .p3 {
        display: none;
    }
    .property-table td, .property-table th {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 500px) {
    .property-table .p2 {
        display: none;
    }
    .property-table .p3 {
        display: none;
    }
    .property-table .p4 {
        display: none;
    }
    .property-table .p5 {
        max-width: 50px;
    }
    .property-table td, .property-table th {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}